html, body {
  height: 100%;
  margin: 0; padding: 0;
  background: #FDF6E3;
  color: rgba(0, 0, 0, 0.9);
  scroll-behavior: smooth;
}

body, button, input {
  font: normal 11pt/1.7 'Segoe UI',Avenir,sans-serif;
}

header > h1 {
  margin: 0;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol > li {
  counter-increment: li;
}

ol > li::before {
  content: counter(li) '.';
  display: inline-block;
  width: 3em;
  text-align: right;
  margin: 0 0.5em 0 -3.5em;
  color: rgba(0, 0, 0, 0.4);
}

.Screen {
  box-sizing: border-box;
  padding: 0 0.5em;
  text-align: center;
}

.Screen > header, .Screen > footer {
  position: fixed;
  height: 3em;
  left: 0; right: 0;
}

.Screen > header {
  top: 0;
  background: linear-gradient(#FDF6E3, #FDF6E3, #FDF6E300);
}

.Screen > footer {
  bottom: 0;
  background: linear-gradient(#FDF6E300, #FDF6E3, #FDF6E3);
}

.Screen > header > h1 {
  margin: 0;
  font-size: 120%;
}

.Screen > main {
  padding: 3em 0;
}

.OccurrenceList {
  display: inline-block;
  padding: 0;
}

.OccurrenceList:empty::before {
  content: '(no occurrences)';
  color: rgba(0, 0, 0, 0.4);
}

.RegisterButton {
  position: absolute;
  right: 0.5em;
  bottom: 0.25em;
  width: 4em;
  height: 2.5em;
  border: none;
  border-radius: 2em;
  color: #FFF;
  background: #5A0BA0;
  font-weight: bold;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}