html, body {
  height: 100%;
  margin: 0; padding: 0;
  background: #FDF6E3;
  color: rgba(0, 0, 0, 0.9);
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body, h1, button, input {
  font: normal 14pt/1.7 'Segoe UI',Avenir,sans-serif;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: 0.3;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol > li {
  counter-increment: li;
}

ol > li::before {
  content: counter(li) '.';
  display: inline-block;
  width: 3em;
  text-align: right;
  margin: 0 0.5rem 0 -3.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.Screen {
  box-sizing: border-box;
  padding: 0 0.5rem;
  text-align: center;
  display: none;
}

.Screen.Visible {
  display: block;
}

.Screen > header, .Screen > footer {
  display: flex;
  position: fixed;
  left: 0; right: 0;
  height: 3rem;
  white-space: nowrap;
}

.Screen > header {
  top: 0;
  background: linear-gradient(#FDF6E3, #FDF6E3, #FDF6E300);
}

.Screen > footer {
  bottom: 0;
  background: linear-gradient(#FDF6E300, #FDF6E3, #FDF6E3);
}

.Screen > header > h1 {
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
  line-height: 3rem;
}

button:not(.PrimaryButton) {
  display: inline-block;
  background: none;
  padding: 0 0.5em;
  border: none;
  color: #914CCE;
  border-radius: 0;
  -webkit-appearance: none;
}

.Screen > main {
  padding: 3rem 0;
}

.NavToPrev::before {
  content: '‹';
  margin-right: 0.3rem;
}

.NavToNext::after {
  content: '›';
  margin-left: 0.3rem;
}

.Grow {
  flex-grow: 1;
}

.OccurrenceList {
  display: inline-block;
  padding: 0;
}

.OccurrenceList:empty::before {
  content: '(no occurrences)';
  color: rgba(0, 0, 0, 0.4);
}

.OccurrenceList > li {
  cursor: pointer; /* this is necessary for iOS to bubble the click-event: see http://gravitydept.com/blog/js-click-event-bubbling-on-ios */
}

.OccurrenceList.Added > li:last-child {
  font-weight: bold;
}

.PrimaryButton {
  padding: 0 1rem;
  margin: 0.25rem;
  border: solid 1px #390965;
  border-radius: 0.5rem;
  color: #FFF;
  background: linear-gradient(#C9B3DC 0%,#914CCE 5%,#4C038E 95%,#2B054C 100%);
  text-shadow: -1px -1px 0 #000,0 -1px 0 #000,1px -1px 0 #000,1px 0 0 #000,1px 1px 0 #000,0 1px 0 #000,-1px  1px 0 #000,-1px 0 0 #000;
  -webkit-appearance: none;
  font-weight: bold;
}

.PrimaryButton:active {
  background: linear-gradient(#2B054C 0%,#4C038E 5%,#914CCE 95%,#C9B3DC 100%);
  padding: 0.2rem 1rem 0;
  color: #DDC8F0;
}